@using Fastmoving.Models;
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using Umbraco.Cms.Web.Common;
@using Umbraco.Extensions
@using Fastmoving
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Web.Common.Views
@using Umbraco.Cms.Core.Models.PublishedContent

@using Fastmoving.Controllers
@using Umbraco.Cms.Core.Models
@model Fastmoving.Models.ContactFormViewModel

@inject UmbracoHelper umbracoHelper

@{
    var successMessage = ViewBag.SuccessMessage as string;
    var modelState = TempData["ModelState"] as ModelStateDictionary;
    var contactFormModel = TempData["ContactFormModel"] as ContactFormViewModel;
}

<div class="col-lg-8 col-xs-8">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            Please fix the errors below.
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="inquiry-form wow fadeInUp dzForm">
            @TempData["SuccessMessage"]
        </div>
    }
    else
    {
        @using (Html.BeginUmbracoForm<ContactFormController>(nameof(ContactFormController.SubmitAsync), null, new { @class = "was-validated inquiry-form wow fadeInUp " }))
        {

            @if (modelState != null && contactFormModel != null)
            {
                <div class="inquiry-form wow fadeInUp dzForm"
                     role="alert">
                    Thank You! Your message has been sent.
                </div>
            }
            else{
            
                <div class="dzFormMsg"></div>
                <h3 class="box-title m-t0 m-b10">Let's Convert Your Idea into Reality <span class="bg-primary"></span></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-user text-primary"></i></span>
                            <input asp-for="Name"  required class="form-control" placeholder="First Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-mobile text-primary"></i></span>
                                <input asp-for="PhoneNumber"
                                   pattern="^(\+?\d{10,15}|0\d{10})$"
                                   class="form-control"
                                   placeholder="Enter phone number"
                                   type="tel" />

                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-email text-primary"></i></span>
                            <input asp-for="Email"
                                   pattern="[A-Za-z0-9._%+-]+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                   class="form-control"
                                   placeholder="Enter email address"
                                   type="email" aria-label="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-check-box text-primary"></i></span>
                                <input asp-for="Subject"
                                   class="form-control form--control"
                                   placeholder="Mail Subject" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-agenda text-primary"></i></span>
                                 <textarea asp-for="Message"
                                      class="form-control form--control ps-4"
                                      rows="5"
                                      placeholder="How can we Help you ?"></textarea>
                        </div>
                        </div>
                    </div>
                   @*  <div class="col-lg-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                <input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
                            </div>
                        </div>
                    </div> *@
                    <div class="col-lg-12">
                        <button id="send-message-btn"  class="site-button button-lg"> <span>Get A Free Quote!</span> </button>
                    </div>
                </div>
            



                }

        }
    }
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form.inquiry-form");
        const submitBtn = document.getElementById("send-message-btn");

        if (form && submitBtn) {
            form.addEventListener("submit", function () {
                // Disable the button
                submitBtn.disabled = true;
                let seconds = 5;
                submitBtn.innerHTML = `Please wait... (${seconds}s)`;

                const countdown = setInterval(() => {
                    seconds--;
                    if (seconds > 0) {
                        submitBtn.innerHTML = `Please wait... (${seconds}s)`;
                    } else {
                        clearInterval(countdown);
                        submitBtn.disabled = false;
                        submitBtn.innerHTML = `<span>Get A Free Quote!</span>`;
                    }
                }, 1000);
            });
        }
    });
</script>

@* <div class="card-body">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            Please fix the errors below.
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    else
    {
        @using (Html.BeginUmbracoForm<ContactFormController>(nameof(ContactFormController.SubmitAsync), null, new { @class = "was-validated" }))
        {

            @if (modelState != null && contactFormModel != null)
            {
                <div class="alert alert-success contact-success-message"
                     role="alert">
                    Thank You! Your message has been sent.
                </div>
            }
            <div class="input-box">
                <label class="label-text">Name</label>
                <div class="form-group">
                    <input asp-for="Name" pattern="[A-Za-z]+"
                           class="form-control form--control"
                           placeholder="Your name" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <span class="la la-user input-icon"></span>
                </div>
            </div>
            <!-- end input-box -->

            <div class="input-box">
                <label class="label-text">Phone</label>
                <div class="form-group">
                    <input asp-for="PhoneNumber"
                           pattern="^\+?[0-9][0-9]{9,14}$"
                           class="form-control form--control"
                           placeholder="Enter phone number"
                           type="tel" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <span class="la la-envelope input-icon"></span>
                </div>
            </div>
            <!-- end input-box -->
            <div class="input-box">
                <label class="label-text">Email Address</label>
                <div class="form-group">
                    <input asp-for="Email"
                           pattern="[A-Za-z0-9._%+-]+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                           class="form-control form--control"
                           placeholder="Enter email address"
                           type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <span class="la la-envelope input-icon"></span>
                </div>
            </div>
            <!-- end input-box -->


            <div class="input-box">
                <label class="label-text">Subject</label>
                <div class="form-group">
                    <input asp-for="Subject" pattern="[A-Za-z]+"
                           class="form-control form--control"
                           placeholder="Mail Subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>

                    <span class="la la-envelope input-icon"></span>
                </div>
            </div>
            <!-- end input-box -->

            <div class="input-box">
                <label class="label-text">Message</label>
                <div class="form-group">
                    <textarea asp-for="Message"
                              class="form-control form--control ps-4"
                              rows="5"
                              placeholder="How can we Help you ?"></textarea>
                </div>
            </div>
            <!-- end input-box -->
            <div class="btn-box">
                <button id="send-message-btn"
                        class="btn theme-btn"
                        type="submit">
                    Send Message
                </button>
            </div>
            <!-- end btn-box -->
            <!-- end card-body -->
        }
    }
</div> *@
@* 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Reset form after submit
        if (document.querySelector('.alert-success')) {
            setTimeout(() => {
                document.querySelector("form").reset();
            }, 3000);
        }
    </script>
} *@