@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
    var content = (ContentModels.OurServicesItem)Model.Content;

}
					<div class="col-md-4 col-sm-6 m-b30 wow zoomIn" data-wow-delay="0.2s">
						<div class="icon-bx-wraper expertise  bx-style-1 p-a30 center">
							<div class="icon-lg m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="@content.Value("ourServicesItemIcon")"></i></a> </div>
							<div class="icon-content">
								<h5 class="dlab-tilte text-uppercase"><a href="javascript:void(0);">@content.Value("ourServicesItemTitle")</a></h5>
								<p>@content.Value("ourServicesItemDesc")</p>
							</div>
						</div>
					</div>



