@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;

	var Lang = "en";
	if (System.Threading.Thread.CurrentThread.CurrentCulture.DisplayName.ToLower() != "english") {
	    Lang = "ar";
	}
}

<!DOCTYPE html>
<html lang="@Lang">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="DexignZone">
		<meta name="robots" content="">

		<meta name="keywords" content="agency, business, company, corporate, creative, finance, multipurpose, one page, parallax, personal, portfolio, responsive, resume, template, unique">
		<meta name="description" content="Agency : is a unique design template which is crafted specially for creative agency, corporate firms, professional businesses. Template theme is specially design for all types of business and have multiple color theme for different types of people.">
		<meta property="og:title" content="Agency | Creative Multipurpose HTML with RTL Ready">
		<meta property="og:description" content="Agency : is a unique design template which is crafted specially for creative agency, corporate firms, professional businesses. Template theme is specially design for all types of business and have multiple color theme for different types of people.">
		<meta property="og:image" content="social-image.png">
		<meta name="format-detection" content="telephone=no">
		<!-- Fav Icon -->
		<link rel="icon" type="image/x-icon" href="~/media/b01mq5ht/favicon.ico">
		<!-- FAVICONS ICON -->
	<link rel="icon" href="images/white-logo.png" type="image/x-icon">
		<link rel="shortcut icon" type="image/x-icon" href="~/images/white-logo.png">

		<!-- MOBILE SPECIFIC -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="~/css/plugins.css">
		<link rel="stylesheet" type="text/css" href="~/css/style.css">
		<link rel="stylesheet" type="text/css" href="~/css/templete.css">
		<link class="skin" rel="stylesheet" type="text/css" href="~/css/skin/color/skin-6.css">
		<link rel="stylesheet" type="text/css" href="~/plugins/switcher/switcher.css">

			<!-- Revolution Slider Css -->
		<link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/layers.css">
		<link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/settings.css">
		<link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/navigation.css">

	@await Html.PartialAsync("Generic/SEO")

		@RenderSection("Style", false)
		
	</head>

	<body id="bg">
	<div class="page-wraper">
		<div id="loading-area" class="loading-page-1">
			<div class="spinner">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="8" cy="8" r="7" stroke-width="1" />
				</svg>
			</div>
		</div>
		@await Html.PartialAsync("Generic/Header")

		@RenderBody()

		@await Html.PartialAsync("Generic/Footer")

		@RenderSection("Script", false)


	</div>
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/plugins/wow/wow.js"></script><!-- WOW JS -->

	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
	<script src="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
	<script src="~/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
	<script src="~/plugins/masonry/masonry-4.2.2.js"></script><!-- MASONRY -->
	<script src="~/plugins/masonry/isotope.pkgd.min.js"></script><!-- MASONRY -->
	<script src="~/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
	<script src="~/plugins/rangeslider/rangeslider.js"></script><!-- Rangeslider -->
	<script src="~/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<script src="~/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
	<script src="~/js/dz.ajax.js"></script><!-- CONTACT JS  -->
	<script src="~/plugins/chart/Chart.bundle.js"></script>
	<script src="~/plugins/chart/utils.js"></script>
	<script src="~/plugins/chart/chart-script.js"></script>
	<script src="~/plugins/loading/anime.js"></script><!-- LOADING JS -->
	<script src="~/plugins/loading/anime-app.js"></script><!-- LOADING JS -->
	<script src="~/plugins/loading/anime.js"></script><!-- Tilt Jquery -->
	<script src="~/plugins/loading/anime-app3.js"></script><!-- Tilt Jquery -->

	<!-- revolution JS FILES -->
	<script src="~/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="~/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script src="~/js/rev.slider.js"></script>
	<script>
		jQuery(document).ready(function() {
			'use strict';
			dz_rev_slider_2();
		});	/*ready*/
				jQuery(document).ready(function() {
			'use strict';
			dz_rev_slider_1();
		});	/*ready*/

	</script>

	<script src="~/plugins/switcher/switcher.js"></script><!-- SWITCHER JS  -->
	</body>

</html>