@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
    var content = (ContentModels.AboutTestimonial)Model.Content;
    var desc = content.Value<string>("aboutTestimonialDesc");
    if (string.IsNullOrWhiteSpace(desc))
    {
        return; // skip rendering this item
    }
}
<div class="item">
    <div class="testimonial-9">
        <div class="testimonial-pic radius style1">
            <img src="images/testimonials/pic1.jpg" alt="" width="100" height="100">
        </div>
        <div class="testimonial-text">
            <p>@desc</p>
        </div>
        <div class="testimonial-detail">
            <strong class="testimonial-name">@content.Value("aboutTestimonialName")</strong>
            <span class="testimonial-position">@content.Value("aboutTestimonialPostion")</span>
        </div>
    </div>
</div>
